<link rel="import" href="../bower_components/polymer/polymer.html">
<!-- import the iron-input custom element -->
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="order-form">

    <template>
        <!-- Scoped css style for this element -->
        <style>
            paper-card {
                width: 60%;
                --paper-card-header-color: white;
            }
        </style>

        <!-- local DOM goes here -->
    </template>

    <script>
        Polymer({
            is: "order-form",
            properties: {
                // declare properties here
            }
        });


    </script>

</dom-module>