<link rel="import" href="../bower_components/polymer/polymer.html">
<!-- import the iron-input custom element -->
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<dom-module id="order-form">

    <template>
        <!-- Scoped css style for this element -->
        <style>
            paper-card {
                width: 80%;
            }
        </style>
        <paper-card heading="Menu" image="{{image}}.jpg">
            <div class="card-content">
                <paper-dropdown-menu label="Food on our menu">
                    <paper-menu class="dropdown-content">
                        <paper-item>Hamburger</paper-item>
                        <paper-item>Pizza</paper-item>
                        <paper-item>Spaghetti</paper-item>
                        <paper-item>Salad</paper-item>
                    </paper-menu>
                </paper-dropdown-menu>
            </div>
            <div class="card-actions">

            </div>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: "order-form",
            properties: {
                image: {
                    type: String,
                    value: 'pizza'
                }
            }
        });

        $('paper-dropdown-menu').attr('selectedItem')
    </script>

</dom-module>