<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
 
<dom-module id="order-form">

    <template>
        <!-- Scoped css style for this element -->
        <style>
        
        </style>

        <!-- local DOM goes here -->
    </template>

    <script>
        Polymer({
            is: "order-form",
            properties: {
                // Declare properties here

            }
        });
    </script>
</dom-module>